In [1]:
import pandas as pd
import numpy as np

## Задание 0

Для всех  заданий будем использовать обезличенные транзакционные банковские данные. Для этого считайте в переменные **tr_mcc_codes, tr_types, transactions и gender_train** из одноимённых таблиц из папки [data](https://drive.google.com/drive/folders/1YAMe7MiTxA-RSSd8Ex2p-L0Dspe6Gs4L). 

Для таблицы transactions используйте только первые n=1000000 строк. При чтении файлов обратите внимание на разделители внутри каждого из файлов - они могут различаться!

In [2]:
!gdown 10J8RzMIhoYHiad49r-oWNMAk-V5lo3OE

Downloading...
From: https://drive.google.com/uc?id=10J8RzMIhoYHiad49r-oWNMAk-V5lo3OE
To: /content/tr_mcc_codes.csv
100% 14.9k/14.9k [00:00<00:00, 35.6MB/s]

In [3]:
!gdown 1EP3KrATWS1I_qYdpRhYnSDl-eoBiOBQc

Downloading...
From: https://drive.google.com/uc?id=1EP3KrATWS1I_qYdpRhYnSDl-eoBiOBQc
To: /content/tr_types.csv
100% 14.2k/14.2k [00:00<00:00, 36.2MB/s]

In [4]:
!gdown 1lEpoRKczv5EvZhff9O2I-0JkdHnbe_Mq

Downloading...
From: https://drive.google.com/uc?id=1lEpoRKczv5EvZhff9O2I-0JkdHnbe_Mq
To: /content/transactions.csv
100% 314M/314M [00:02<00:00, 124MB/s]

In [5]:
!gdown 1FG1fopcmvMZ7GBaBOqQipccSeFoMUvNT

Downloading...
From: https://drive.google.com/uc?id=1FG1fopcmvMZ7GBaBOqQipccSeFoMUvNT
To: /content/gender_train.csv
100% 99.9k/99.9k [00:00<00:00, 83.7MB/s]

In [6]:
tr_mcc_codes = pd.read_csv(filepath_or_buffer = "tr_mcc_codes.csv", sep=";")
tr_types = pd.read_csv(filepath_or_buffer = "tr_types.csv", sep=";")
transactions = pd.read_csv(filepath_or_buffer = "transactions.csv", nrows = 1000000, sep=",")
gender_train = pd.read_csv(filepath_or_buffer = "gender_train.csv", sep=",")

###  Описание данных
#### Таблица ```transactions.csv```
##### Описание
Таблица содержит историю транзакций клиентов банка за один год и три месяца.

##### Формат данных

```
customer_id,tr_datetime,mcc_code,tr_type,amount,term_id
111111,15 01:40:52,1111,1000,-5224,111111
111112,15 15:18:32,3333,2000,-100,11122233
...
```
##### Описание полей

 - ```customer_id``` — идентификатор клиента;
 - ```tr_datetime``` — день и время совершения транзакции (дни нумеруются с начала данных);
 - ```mcc_code``` — mcc-код транзакции;
 - ```tr_type``` — тип транзакции;
 - ```amount``` — сумма транзакции в условных единицах со знаком; ```+``` — начисление средств клиенту (приходная транзакция), ```-``` — списание средств (расходная транзакция);
 - ```term_id``` — идентификатор терминала;


#### Таблица ```gender_train.csv```

##### Описание
Данная таблица содержит информацию по полу для части клиентов, для которых он известен. Для остальных клиентов пол неизвестен.

##### Формат данных
```
customer_id,gender
111111,0
111112,1
...
```

##### Описание полей
 - ```customer_id``` — идентификатор клиента;
 - ```gender``` — пол клиента;

### Таблица ```tr_mcc_codes.csv```

##### Описание
Данная таблица содержит описание mcc-кодов транзакций.

##### Формат данных
```
mcc_code;mcc_description
1000;словесное описание mcc-кода 1000
2000;словесное описание mcc-кода 2000
...
```

##### Описание полей
 - ```mcc_code``` – mcc-код транзакции;
 - ```mcc_description``` — описание mcc-кода транзакции.

#### Таблица ```tr_types.csv```

##### Описание
Данная таблица содержит описание типов транзакций.

##### Формат данных
```
tr_type;tr_description
1000;словесное описание типа транзакции 1000
2000;словесное описание типа транзакции 2000
...
```

##### Описание полей
 - ```tr_type``` – тип транзакции;
 - ```tr_description``` — описание типа транзакции;


Задания 1-4 делаются без использования merge!

## Задание 1

1. Для столбца tr_type датафрейма transactions выберите произвольные 1000 строк с помощью метода sample
2. В полученной на предыдущем этапе подвыборке найдите долю транзакций (стобец tr_description в датасете tr_types), в которой содержится подстрока 'POS' или 'ATM'

In [7]:
strings_count = 1000
tr_type_sample = transactions["tr_type"].sample(strings_count)
subsampling = tr_types["tr_description"].str.contains("POS") | tr_types["tr_description"].str.contains("АТМ")
tr_types_subsampling = tr_types["tr_type"][subsampling]
result_count = tr_type_sample.isin(tr_types_subsampling).value_counts()[True]

print(result_count / strings_count)

0.608

## Задание 2

1. Для столбца tr_type датафрейма transactions посчитайте частоту встречаемости всех типов транзакций tr_type в transactions.
2. Выведите топ-10 транзакций по частоте встречаемости (вывести для них tr_description тоже).

In [8]:
frequency_top_10_tr_types = transactions["tr_type"].value_counts().sort_values(ascending=False)
top_10_tr_types = frequency_top_10_tr_types.head(10)
frequency_top_10_tr_description = tr_types["tr_description"].value_counts().sort_values(ascending=False)
top_10_tr_description = frequency_top_10_tr_description.head(10)
tr_types[tr_types["tr_type"].isin(top_10_tr_types.index)]

     tr_type                                     tr_description
39      7010       Взнос наличных через АТМ (в своем тер.банке)
47      7030  Перевод на карту (с карты) через АТМ (в предел...
59      7070  Перевод на карту (с карты) через Мобильный бан...
60      7071  Перевод на карту (с карты) через Мобильный бан...
98      1010                              Покупка. POS ТУ СБ РФ
99      1030                     Оплата услуги. Банкоматы СБ РФ
100     1100                                Покупка. ТУ  Россия
101     1110                             Покупка. POS ТУ Россия
106     2010              Выдача наличных в АТМ Сбербанк России
129     2370  Списание с карты на карту по операции <перевод...

## Задание 3
1. В датафрейме transactions найдите клиента с максимальной суммой приходов на карту
2. В датафрейме transactions найдите клиента с максимальной суммой расходов по карте
3. Найдите модуль разницы для этих клиентов между суммой расходов и суммой приходов

In [9]:
max_amount = transactions[transactions["amount"] > 0].groupby(["customer_id"]).sum().sort_values(by=["amount"], ascending=False).head(1).drop(columns=['mcc_code', 'tr_type'])
min_amount = transactions[transactions["amount"] < 0].groupby(["customer_id"]).sum().sort_values(by=["amount"], ascending=True).head(1).drop(columns=['mcc_code', 'tr_type'])
print(abs(max_amount - abs(min_amount)))

                 amount
customer_id
70780820     1837317.98

## Задание 4
1. Найдите среднее арифметическое и медиану по amount по всем типам транзакций из топ 10 из задания 2
1. Найдите среднее арифметическое и медиану по amount по всем типам транзакций для клиентов из задания 3

In [10]:
mean1 = transactions[transactions["tr_type"].isin(top_10_tr_types.index)].groupby(["tr_type"])["amount"].mean()
median1 = transactions[transactions["tr_type"].isin(top_10_tr_types.index)].groupby(["tr_type"])["amount"].median()
print(mean1)
print()
print(median1)

tr_type
1010    -19784.748640
1030     -5320.980222
1100    -44061.827262
1110    -32119.330371
2010   -136077.629325
2370   -205418.249032
7010    276391.789596
7030     86104.332909
7070     65569.831700
7071     66806.826623
Name: amount, dtype: float64

tr_type
1010     -7411.52
1030     -2245.92
1100    -10188.26
1110    -11207.57
2010    -44918.32
2370    -44918.32
7010    112295.79
7030     13951.52
7070     11319.42
7071      3593.47
Name: amount, dtype: float64

In [11]:
mean2 = transactions[transactions["customer_id"] == max_amount.index[0]].groupby(["tr_type"])["amount"].mean()
median2 = transactions[transactions["customer_id"] == max_amount.index[0]].groupby(["tr_type"])["amount"].median()
print(mean2)
print()
print(median2)

tr_type
2010   -2.941056e+06
2330   -2.382398e+06
2370   -2.218505e+06
6110    1.756293e+04
7020    1.465129e+04
7021    2.850067e+04
7030    1.406196e+04
7031    1.921036e+04
7034    1.430648e+04
7040    2.153833e+04
7070    1.384821e+04
7071    1.860057e+04
7074    2.281159e+04
Name: amount, dtype: float64

tr_type
2010   -3368873.660
2330   -2245915.770
2370   -2245915.770
6110      10028.010
7020      10319.985
7021      28500.670
7030       8848.910
7031      12992.620
7034      14306.480
7040      14396.320
7070       8714.150
7071      12543.440
7074       9387.930
Name: amount, dtype: float64

## Подготовка для заданий 5-8

*Из заданий 5-8 нужно выполнить минимум два любых*

Соедините transactions с всеми остальными таблицами (tr_mcc_codes, tr_types, gender_train). Причём с gender_train необходимо смёрджиться с помощью left join, а с оставшимися датафреймами - через inner.
После получения результата таблицы gender_train, tr_types, tr_mcc_codes можно удалить. В результате соединения датафреймов должно получиться 999584 строки.

In [12]:
transactions = pd.merge(transactions, gender_train, how='left')
transactions = pd.merge(transactions, tr_mcc_codes, how='inner')
transactions = pd.merge(transactions, tr_types, how='inner')
transactions.shape

(999584, 9)

## Задание 5

1. Определите модуль разницы между средними тратами женщин и мужчин (трата - отрицательное значение amount).
2. Определите модуль разницы между средними поступлениями у мужчин и женщин

Обратите внимание, что для вычисления модуля разности точных знаний о том, 
какой класc относится к мужчинам, а какой - к женщинам, не требуется.

In [13]:
mean_wastes = transactions[transactions["amount"] < 0].groupby(["gender"])["amount"].mean()
print("wastes difference module:", abs(round(abs(mean_wastes[0]) - abs(mean_wastes[1]), 3)))

mean_receipts = transactions[transactions["amount"] > 0].groupby(["gender"])["amount"].mean()
print("receipts difference module:", abs(round(abs(mean_receipts[0]) - abs(mean_receipts[1]), 3)))

wastes difference module: 32718.055
receipts difference module: 63366.571

## Задание 6

1. По всем типам транзакций рассчитайте максимальную сумму прихода на карту (из строго положительных сумм по столбцу amount) отдельно для мужчин и женщин (назовите ее "max_income"). Оставьте по 10 типов транзакций для мужчин и для женщин, наименьших среди всех типов транзакций по полученным значениям "max_income". 
2. Выделите среди них те типы транзакций, которые встречаются одновременно и у мужчин, и у женщин

In [14]:
max_income = transactions[transactions["amount"] > 0].groupby(["gender", "tr_type"])["amount"].sum()
top10_income_gender0 = max_income[0].sort_values().head(10)
print(top10_income_gender0)
print()

top10_income_gender1 = max_income[1].sort_values().head(10)
print(top10_income_gender1)

tr_type
4051     1122.96
4210     2245.92
4110     2245.92
2370     2335.75
7075     6737.75
2110    22459.16
1010    31532.66
4100    40334.88
2210    68315.82
1210    83644.87
Name: amount, dtype: float64

tr_type
2020      2245.92
4110      4491.84
1010     35317.03
8100     64682.37
6000     79280.83
7041     87590.72
2370    113194.15
7015    121279.45
2110    179673.26
2010    224591.59
Name: amount, dtype: float64

In [15]:
top10_income_gender0_tabel = pd.DataFrame({"tr_type": top10_income_gender0.index, "max_income": top10_income_gender0.values})
top10_income_gender1_tabel = pd.DataFrame({"tr_type": top10_income_gender1.index, "max_income": top10_income_gender1.values})

pd.merge(top10_income_gender0_tabel, top10_income_gender1_tabel, how='inner', left_on="tr_type", right_on="tr_type")["tr_type"]

0    4110
1    2370
2    2110
3    1010
Name: tr_type, dtype: int64

## Задание 7

1. Найдите суммы затрат по каждой категории (mcc) для мужчин и для женщин. 
2. Найдите топ 10 категорий с самыми большими относительными модулями разности в тратах для разных полов (в ответе должны присутствовать описания mcc кодов).

In [16]:
wastes_sum = transactions[transactions["amount"] < 0].groupby(["gender", "mcc_code"])["amount"].sum()
wastes_sum_gender0 = wastes_sum[0]
print("summary of wastes for gender 0:\n", wastes_sum_gender0, "\n")
wastes_sum_gender1 = wastes_sum[1]
print("summary of wastes for gender 1:\n", wastes_sum_gender1)

summary of wastes for gender 0:
 mcc_code
742      -386207.68
1711     -674897.69
1799     -261626.73
2741      -20746.42
3000   -74431645.27
           ...
8699     -521107.48
8999   -19432057.92
9222     -361143.24
9311     -406197.45
9399    -1481389.65
Name: amount, Length: 174, dtype: float64

summary of wastes for gender 1:
 mcc_code
742      -132277.93
1711     -206264.90
1731     -121542.67
1799    -1129257.68
2741     -221290.08
           ...
8999   -28643346.63
9222     -988205.17
9311     -373271.22
9399    -1810820.67
9402       -4581.67
Name: amount, Length: 175, dtype: float64

In [17]:
top10_wastes = abs(wastes_sum_gender0 - wastes_sum_gender1).sort_values(ascending=False).head(10)
tr_mcc_codes[tr_mcc_codes["mcc_code"].isin(top10_wastes.index)]

     mcc_code                                    mcc_description
22       4829                                  Денежные переводы
62       5511  Легковой и грузовой транспорт — продажа, серви...
64       5533                          Автозапчасти и аксессуары
65       5541                            Станции техобслуживания
75       5661                                   Обувные магазины
90       5812             Места общественного питания, рестораны
116      5977                                 Магазины косметики
123      6010   Финансовые институты — снятие наличности вручную
124      6011  Финансовые институты — снятие наличности автом...
162      7995                       Транзакции по азартным играм

## Задание 8 (не выполнено)

1. Из поля tr_datetime выделите час tr_hour, в который произошла транзакция, как первые 2 цифры до ":". (\**)
2. Посчитайте количество транзакций с amount<0 в ночное время для мужчин и женщин. Ночное время - это примерно 00-06 часов.

# Задание на защиту

## Условие

В задании 3 для всех трех пунктов нужно вывести ответ

Найдите пол клиента из задания 3. Найдите категории (mcc), по которым этот клиент совершал траты. Найдите максимальные траты по этим категориям у представителей этого пола. Есть ли категории, в которых у этого клиента самые большие траты из всех представителей одного с ним пола? Выведите описание таких категорий (или такой категории).

In [18]:
print("task3, subtask1:\n", max_amount, "\n")
print("task3, subtask2:\n", min_amount, "\n")
print("task3, subtask3:\n", abs(max_amount - abs(min_amount)), "\n")

task3, subtask1:
                    amount
customer_id
70780820     1.248115e+09

task3, subtask2:
                    amount
customer_id
70780820    -1.249952e+09

task3, subtask3:
                  amount
customer_id
70780820     1837317.98

In [25]:
customer = transactions[transactions["customer_id"] == 70780820]
gender = customer["gender"]
gender

613348    1.0
613349    1.0
613350    1.0
613351    1.0
613352    1.0
         ...
997962    1.0
997963    1.0
997964    1.0
997965    1.0
998073    1.0
Name: gender, Length: 88781, dtype: float64

In [24]:
types_customer = set(customer["mcc_code"])
types_customer

{4829, 6010, 6011, 6012}

In [28]:
df = transactions[transactions["gender"].isin(gender)]
max_wastes_of_gender1 = df.sort_values("amount", ascending=False).groupby("mcc_code").head(1)
max_wastes_of_gender1

,customer_id,tr_datetime,mcc_code,tr_type,amount,term_id,gender,mcc_description,tr_description
816947,26782922,151 11:35:44,6010,7070,1.459845e+08,NaN,1.0,Финансовые институты — снятие наличности вручную,Перевод на карту (с карты) через Мобильный бан...
539292,87451106,72 14:49:38,6011,7010,9.769734e+06,NaN,1.0,Финансовые институты — снятие наличности автом...,Взнос наличных через АТМ (в своем тер.банке)
796233,2158881,279 00:00:00,6012,6110,1.684437e+06,Telebank,1.0,Финансовые институты — торговля и услуги,Возврат покупки. POS ТУ Россия
797404,88269777,445 17:34:23,6536,6110,1.347549e+06,CARDSVCS,1.0,Денежные переводы MasterCard MoneySend,Возврат покупки. POS ТУ Россия
798472,17389182,96 00:00:00,5309,6200,1.269873e+06,NaN,1.0,Беспошлинные магазины Duty Free,Возврат покупки. Зарубеж. ТУ
...,...,...,...,...,...,...,...,...,...
133573,30627668,292 00:00:00,5094,1100,-3.803436e+04,00000001,1.0,"Драгоценные камни и металлы, часы и ювелирные ...",Покупка. ТУ Россия
513565,61024099,161 00:00:00,3351,1200,-4.418278e+04,NaN,1.0,Агентства по аренде автомобилей,Покупка. Зарубеж. ТУ
134318,22882838,150 00:00:00,7395,1100,-4.419962e+04,NaN,1.0,"Фотостудии, фотолаборатории",Покупка. ТУ Россия
272106,50426364,398 00:00:00,5940,1110,-6.715288e+04,06201883,1.0,Веломагазины — продажа и обслуживание,Покупка. POS ТУ Россия
268263,62693719,80 10:58:31,7629,1110,-1.194827e+05,NaN,1.0,"Ремонт бытовой техники, ремонт электроприборы",Покупка. POS ТУ Россия

In [27]:
max_wastes_of_gender1[max_wastes_of_gender1.index == 70780820]
# судя по тому, что выводится 0 строк в последнем датафрейме, то таких категорий,
# где наш клиент имел бы самые большие траты среди своего пола, просто нет

Empty DataFrame
Columns: [customer_id, tr_datetime, mcc_code, tr_type, amount, term_id, gender, mcc_description, tr_description]
Index: []